*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --saya-orange: #f47224;
    --col23-gap: 0.2rem;
    --column-gap: 0.2rem;
    --text-light-grey: #626262;
    --text-dark-grey: #242424;
    --bg-dark-grey: #D9D9D9;
    --bg-light-grey: #F5F5F5;
    --text-font-size: 0.9rem;
    --column-border: 2px solid transparent;
    --row-separator-color: #D0D0D0;
}

.actionBtns {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.exportBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 1rem;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.exportBtn:hover {
    opacity: 1;
}

.exportBtn span {
    font-size: 1.5rem;
    font-weight: 500;
}

.exportBtn img {
    width: 3rem;
}

.container {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Navbar styles -- START */
#navbar {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    padding-block: 1rem 1.75rem;
}

#navContents {
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#navbar::after {
    /* For shadow on bottom */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 0.14rem;
    background: rgba(0, 0, 0, 0.1);

}

.rxImg img {
    height: 5rem;
}

.logo {}

.logo img {
    height: 5rem;
}

/* Navbar styles -- END */



/* Main Content Body Styles -- START */
#main {
    flex: 1;
    width: 100%;
}

.credentials {
    margin-bottom: 1rem;
}

.credentials .info {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    width: 90%;
}

.name, .phone {
    display: flex;
    gap: 0.4rem;
    align-items: baseline;
    color: rgb(91, 91, 91);
}

.name, .phone, .uploadDate {
    font-size: var(--text-font-size);
}

.name .label, .phone .label, .uploadDate .label {
    font-weight: 300;
    color: var(--text-light-grey);
}

.name .data {
    font-weight: 400;
    color: var(--text-dark-grey);
}

.phone .data {
    font-weight: 400;
    color: black;
}

.uploadDate .data {
    text-align: center;
    font-weight: 400;
    color: var(--text-dark-grey);
}

.pharmacistInfo {
    width: 100%;
    background-color: var(--bg-dark-grey);
    color: var(--text-light-grey);
    font-size: var(--text-font-size);
    font-weight: 300;
    padding-block: 1.5rem;
}

.pharmacistInfo .info {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.pharmacist .data {
    font-weight: 400;
    color: var(--text-dark-grey);
}

.parchiId {
    color: var(--text-dark-grey);
    font-weight: 600;
}

.dateOfTranscription span {
    color: var(--text-dark-grey);
    font-weight: 400;
}

.medList {
    margin-inline: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.row {
    margin-block: 1.5rem;
    position: relative;
}

.row + .row::before {
    content: "";
    position: absolute;
    width: 200vw;
    left: -50%;
    top: -1.2rem;
    border-top: var(--column-border);
    border-color: var(--row-separator-color);
}

.row:first-child {
    margin-top: 0;
}

.row:last-child {
    margin-bottom: 0;
}

.medList .row, .medList header {
    display: grid;
    gap: var(--column-gap);
}

.medList header {
    /* Make the header disappear on small screens */
    display: none;
    margin-top: 1rem;
}

.medList header .brandName,
.medList header .sayacareSubstitute,
.medList header .dcHeading {
    font-size: 1rem;
    font-weight: 600;
}


.sayacareSubstitute, .dcHeading {
    margin-block: auto 0.3rem;
    display: flex;
    gap: 0.2rem;
    width: max-content;
    margin-inline: auto;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #232323;
}

.col1, .col2, .col3 {
    border: var(--column-border);
}

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.col1:has(div.brandName) {
    background-color: var(--bg-light-grey);
}

.col1 > div {
    padding: 1rem;
}

/* .col1.empty {
    display: none;
} */

.brandName {
    margin: auto;
}

div.brandName {
    color: var(--text-dark-grey);
}

.brandName span {
    color: var(--text-light-grey);
    font-weight: 300;
}

.col23 {
    display: flex;
    gap: var(--column-gap);
    width: 100%;
}

.col23 .unavailable {
    width: 100%;
    min-height: 4rem;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 0.9rem;
}

.col2 {
    flex: 5;
    font-size: 0.9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--col23-gap);
}

.totalSavings {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8rem;
    text-align: center;
    background-color: #6BBE63;
    color: white;
    padding: 0.3rem 0.8rem;
    line-height: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    font-weight: 300;
}

.convGenericItem {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
    padding: 1rem;
    position: relative;
}

.convGenericItem + .convGenericItem::before {
    content: "";
    position: absolute;
    left: 1ch;
    top: 0;
    width: 75%;
    border-top: var(--column-border);
    border-color: var(--bg-light-grey);
}

.price {
    margin-right: 20%;
    width: max-content;
}

.compUnit {
    color: black;
}

#unitMethod {
    color: var(--text-light-grey);
    font-weight: 300;
}

.freqAdvice {
    width: max-content;
    font-size: 0.67rem;
    position: absolute;
    left: 50%;
    bottom: -1.2rem;
    transform: translateX(-50%);
    letter-spacing: 0.6px;
}

.col3 {
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
    flex: 1;
    gap: var(--col23-gap);
}

.col3:not(:has(.dcHeading)), .col2:not(:has(.sayacareSubstitute)) {
    border-color: var(--bg-light-grey);
}

.col3 > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
    padding-inline: 10%;
    position: relative;
    margin-block: 3rem 2rem;
    background: #FFF6EE;
    padding-block: 0.6rem;
}

.iconText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    color: white;
    border-radius: 100%;
    aspect-ratio: 1;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    aspect-ratio: 1;
    height: 100%;
}

.text {
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
}

.unavailable {
    color: #ED273D !important;
}

.placeOrder {
    margin-inline: auto;
    display: flex;
    width: 90%;
}

#placeOrderBtn {
    margin-left: auto;
    width: 8.88rem;
    height: 2.76rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    background-color: #F37323;
    color: white;
    border-radius: 1.125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* Main Content Body Styles -- END */


/* Footer Content Styles - START */
footer {
    margin-top: 2rem;
}

.note {
    width: 100%;
    background-color: #f6f6f6;
    font-size: 0.9rem;
    color: #323335;
}

.note .info {
    padding: 1rem;
    margin-inline: auto;
    gap: 1rem;
    width: 90%;
}

.notePts {
    margin-left: 5ch;
    margin-top: 1rem;
}

.notePt {
    font-size: 0.9rem;
    line-height: 1rem;
}

/* Styling hindi text */
.notePt + .notePt {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 0.5rem;
}

/* Footer Content Styles - END */



/* Utility Classes */
.max-w-7xl {
    max-width: 72rem;
}

/* Responsive Styles */

/* small screens */
@media (min-width: 640px) {
}

/* medium screens */
@media (min-width: 768px) {
    :root {
        --column-gap: 1rem;
    }

    .logo img {
        height: 6rem;
    }
    
    .max-w-7xl {
        width: 90%;
    }

    .col1.empty {
        display: grid;
        background-color: transparent;
    }

    .medList .row, .medList header {
        grid-template-columns: 2fr 4.5fr;
    }
}

/* large screens */
@media (min-width: 1024px) {
    /* Make the header re-appear on mid - all size screens */
    .medList header {
        display: grid;
    }

    .medList .row, .medList header {
        grid-template-columns: 2fr 5fr;
    }

    .price {
        margin-right: 10%;
    }
}

/* extra large screens */
@media (min-width: 1280px) {
}

/* 2x large screens */
@media (min-width: 1536px) {
}
